<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Serial.Properties.Settings.Coe25ConnectionString"
            connectionString="Data Source=KIMBEA-PC\KIMBEA;Initial Catalog=Coe25;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>